.card {
  background-color: var(--card-highlight);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.col-md-6 {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row2 {
  margin-top: 20px;
}
.title,
.subtitle {
  text-align: center;
  margin: 2rem 0;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--card-highlight);
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  width: 350px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .card {
    background-color: var(--card-highlight);
    margin: 1rem;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .col-md-6 {
    height: 100%;
  }
  .btn {
    margin: 0.5rem;
  }
  .card-img-top {
    object-fit: cover;
    max-width: 300px;
  }
}
