.about__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  padding: 0 1.5rem;
  color: var(--card-tag-txt);
}

.about__me-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--card-tag-txt);
}

.eliphoto {
  width: 300px;
  background-color: transparent;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--card-bg);
  border: 1px solid var(--card-button);
  color: var(--color-txt);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  background: var(--stroke);
  color: var(--card-tag-txt);
  transition: var(--transition);
  cursor: default;
}

.about__icon {
  color: var(--color-txt);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
}
.about__card p {
  font-size: 2rem 0 2.6rem;
}
.about__container {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--card-tag-txt);
}
.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.tools__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.skills__box {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
/* ======= Media Queries "M" Devices ======= */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ======= Media Queries "S" Devices ======= */

@media screen and (max-width: 600px) {
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}
