ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fa-home,
.fa-edit,
.fa-briefcase,
.fa-envelope {
  color: var(--card-button);
  font-size: 1.5rem;
}
